# IP address of the server
NODE_HOST=

# password of the server
NODE_PASSWORD=

# port of the server
NODE_PORT=

# name of the server
NODE_NAME=

# token of the bot
token=

# id of the bot (clientId)
id=

# Prefix should be enabled? (true / false), this needs message content special permissions
PREFIX_ENABLED=false
